version: 0.90.{build}
os: Visual Studio 2015
configuration: Debug
platform: Any CPU
shallow_clone: true
clone_folder: c:\projects\dbcl
before_build:
- ps: nuget restore
build:
  project: DBCL.sln
  verbosity: quiet
test_script:
- cmd: c:\projects\dbcl\test-coverage.bat
- cmd: c:\projects\dbcl\create-reports.bat
- cmd: c:\projects\dbcl\zip-artifacts.bat
- ps: c:\projects\dbcl\upload-testresults.ps1
- "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
- pip install codecov > nul
- codecov -f "c:\projects\dbcl\reports\OpenCover.BitSetArray.xml" > nul
- codecov -f "c:\projects\dbcl\reports\OpenCover.ICodeSet.xml" > nul
- codecov -f "c:\projects\dbcl\reports\OpenCover.Extensions.xml" > nul
- codecov -f "c:\projects\dbcl\reports\OpenCover.Diagnostics.xml" > nul
artifacts:
- path: reports\*.7z
  name: Coverage
