version: 0.90.{build}
os: Visual Studio 2015
configuration: Debug
platform: Any CPU
shallow_clone: true
clone_folder: c:\projects\dbcl
environment:
  COVERALLS_REPO_TOKEN:
    secure: K6NMfs30rPHzaM5D9hTfzp34I8nSFoblUrW2JPlPVkn6eySTT3pJZWvP6Zbdy6K5
before_build:
- ps: nuget restore
build:
  project: DBCL.sln
  verbosity: quiet
test_script:
- cmd: c:\projects\dbcl\test-coverage.bat
- cmd: c:\projects\dbcl\create-reports.bat
- cmd: c:\projects\dbcl\zip-artifacts.bat
- cmd: c:\projects\dbcl\upload-coveralls.bat
- ps: c:\projects\dbcl\upload-testresults.ps1
- @if not "%appveyor%" == "True" goto end
- @"SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
- @pip install codecov
- @codecov -f "c:\projects\dbcl\reports\OpenCover.BitSetArray.xml"
- @codecov -f "c:\projects\dbcl\reports\OpenCover.ICodeSet.xml"
- @codecov -f "c:\projects\dbcl\reports\OpenCover.Extensions.xml"
- @codecov -f "c:\projects\dbcl\reports\OpenCover.Diagnostics.xml"
- :end
artifacts:
- path: reports\*.7z
  name: Coverage
