version: 0.90.{build}
os: Visual Studio 2013
configuration: Debug
platform: Any CPU
shallow_clone: true
clone_folder: c:\projects\dbcl
before_build:
- ps: nuget restore
build:
  project: DBCL.sln
  verbosity: quiet
test_script:
- cmd: c:\projects\dbcl\testscript-appveyor.cmd
artifacts:
- path: c:\projects\dbcl\reports\*.xml
  name: Coverage
deploy:
- provider: Local
  Coverage: True