version: 0.90.{build}
os: Visual Studio 2013
configuration: Debug
platform: Any CPU
shallow_clone: true
clone_folder: c:\projects\dbcl
environment:
  COVERALLS_REPO_TOKEN:
    secure: K6NMfs30rPHzaM5D9hTfzp34I8nSFoblUrW2JPlPVkn6eySTT3pJZWvP6Zbdy6K5
  COVERITY_REPO_TOKEN:
    secure: lq7fFDwa8PFhi2KZuaFOxkqY+/V2aXBLlvuKdTDGgDw=
before_build:
- ps: nuget restore
build:
  project: DBCL.sln
  verbosity: quiet
test_script:
- cmd: c:\projects\dbcl\test-coverage.bat
- ps: c:\projects\dbcl\upload-testresults.ps1
- cmd: c:\projects\dbcl\create-reports.bat
- cmd: c:\projects\dbcl\zip-artifacts.bat
- cmd: c:\projects\dbcl\upload-coveralls.bat
- "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
- pip install codecov
- codecov -f "c:\projects\dbcl\reports\OpenCover.BitSetArray.xml"
- codecov -f "c:\projects\dbcl\reports\OpenCover.ICodeSet.xml"
- codecov -f "c:\projects\dbcl\reports\OpenCover.Extensions.xml"
- codecov -f "c:\projects\dbcl\reports\OpenCover.Diagnostics.xml"
artifacts:
- path: reports\*.7z
  name: Coverage
